$theme-colors: (
  "primary": #004445,
  "danger": #feb70d,
  "success": #6f42c1,
  "info": #dc3545,
  "secondary": #17a2b8,
  "danger-light": #FFFFC0
);

$primary: map-get($map: $theme-colors, $key: primary);
$secondary: map-get($map: $theme-colors, $key: danger);

@import "node_modules/bootstrap/scss/bootstrap";
// @import "node_modules/leaflet/dist/leaflet.css";

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

hr {
  margin: 6px;
  border-top: 1px solid map-get($map: $theme-colors, $key: primary);
  opacity: 0.5;
}

.navbar-brand, .modal-title {
  align-items: center;
  display: flex;
  pointer-events: none;
}

// Removing for now - need to use important here, may change later
.bootstrap-select .btn:focus {
  outline: none !important;
}

/* Modal */
.modal-button{
  pointer-events: none;
  width: 30px;
}

/* Main Area */

.content {
  height: calc(100vh - 66px - 32px);
  overflow: auto;
}

.map {
  height: calc(100vh - 66px - 32px);
  overflow: hidden;
}

/* Over-write default leaflet easy button, leaflet, marker clusters and esri geocoder here */

.leaflet-bar a {
  color: map-get($map: $theme-colors, $key: primary);
  background-color: map-get($map: $theme-colors, $key: danger-light);
}

.leaflet-bar button, .leaflet-bar{
  background-color: map-get($map: $theme-colors, $key: danger-light);
}

.geocoder-control-input{
  background-image: url(imgs/search.png)
}

.marker-cluster span {
  color: map-get($map: $theme-colors, $key: primary)
}

//Potential theming - not being used as of now
// .marker-cluster{

// }

// .marker-cluster div {

// }

// .marker-cluster-medium {

// }

// .marker-cluster-medium div {

// }

// .marker-cluster-large{
//   background-color: rgba(253, 156, 115, 0.6);
// }

// .marker-cluster-large div{
//   background-color: rgba(241, 128, 23, 0.6);
// }

/* Drafting Container */
.drafting-container {
  position: absolute;
  width: 500px;
  height: calc(100vh - 66px - 32px);
  z-index: 9999;
  display: visible;
}

.dropdown-item:hover, .selected:hover {
  background-color: map-get($map: $theme-colors, $key: danger);
}

h4 {
  text-align: center;
}

/* Map */
#map {
  height: 100%;
  overflow: hidden;
}

#info-pane {
  position: absolute;
  height: 245px;
  width: 245px;
  display: visible;
  bottom: 20px;
  right: 30px;
  z-index: 400;
  padding: 1em;
  background: white;
  opacity: 0.7;
}

#info-pane-legend {
  position: absolute;
  max-height: 90%;
  height: auto;
  width: 300px;
  display: none;
  bottom: 0px;
  left: 0px;
  z-index: 400;
  padding: 1em;
  background: white;
  overflow: auto;
  opacity: 0.9;
}

/* App is non-responsive as of current - developing on two screens so I am setting a media query here to avoid collision with search*/
@media only screen and (max-width: 1600px) {
  #info-pane-legend {
    max-height: 80%;
  }
}
